<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
<!--    <script type=text/javascript>-->
<!--        $(function () {-->
<!--            $('a#test').on('click', function (e) {-->
<!--                e.preventDefault()-->
<!--                $.getJSON('/vm1_toggle',-->
<!--                    function (data) {-->

<!--                    });-->
<!--                return false;-->
<!--            });-->
<!--        });-->
<!--    </script>-->
<!--</head>-->
<!--<body>-->

<html>
<header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type=text/javascript src="{{
  url_for('static', filename='main.js') }}"></script>
</header>
<body>
<div class='wrapper'>
    A = <input type="number" id="input_A">
    B = <input type="number" id="input_B">
    <button class='get_result'>Calculate</button>
    <input type='button' value='Add' id='btnAddProfile'>
    <div class='result'></div>
</div>
</body>
</html>

<!--<div class='container'>-->
<!--    <h3>Test</h3>-->
<!--    <form>-->
<!--        <a href=# id=test>-->
<!--            <button class='btn btn-default'>VM 1</button>-->
<!--        </a>-->
<!--    </form>-->

<!--</div>-->

<!--</body>-->
<!--</html>-->